.First-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
  overflow-x: hidden;
  height: 460px;
}

.First-title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding-left: 0px;
}
.FirstCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.FirstCard-img {
  width: 260px;
  height: 260px;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  overflow: hidden;
}
.FirstCard-name {
  font-size: 15px;
  width: 180px;
  margin: 0;
  margin-top: 7px;
}
.FirstCard-slide {
  display: flex;
  flex-direction: row;
}
.First-container {
  max-width: 330px; /* 또는 원하는 너비 */
}

.slick-list {
  height: 100% !important;
  margin-bottom: 20px;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  margin-top: 15px;
  height: auto !important;
  margin-bottom: px;
}

.FirstCard-price {
  margin: 0;
  margin-top: 10px;
}
.FirstCard-rating {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}
.FirstCard-sale {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0s;
}
.FirstCard-sale {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  width: 100px;
  height: 50px;
  background-color: red;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: -245px;
  display: flex;
  justify-content: center;
}

.FirstCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율을 유지하며 크기에 맞춤 */
}
.FirstCard-stars {
  margin-left: 100px;
}
