.Hot-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
  overflow-x: hidden;
  height: 280px;
}

.Hot-title {
  font-size: 20px;
  font-weight: 700;
}
.highlight {
  color: red;
}
.HotCard-link {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 상속받은 텍스트 색상 사용 */
}
.HotCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.HotCard-img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  overflow: hidden;
}
.HotCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율을 유지하며 크기에 맞춤 */
}
.HotCard-name {
  font-size: 15px;
  width: 100px;
  margin: 0;
  margin-top: 7px;
}
.HotCard-slide {
  display: flex;
  flex-direction: row;
}
.Hot-container {
  max-width: 330px; /* 또는 원하는 너비 */
}

.slick-list {
  height: 100% !important;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  margin-top: 15px;
  height: auto !important;
  margin-bottom: 15px;
}

.HotCard-price {
  margin: 0;
  margin-top: 10px;
}
.HotCard-rating {
  display: flex;
  gap: 2px;
}
.HotCard-sale {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0s;
}
.HotCard-sale {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  margin-top: -90px;
  margin-left: 10px;
  width: 45px;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(255, 0, 0);
}
