.Result-Container {
  color: #ffffff;
  padding: 20px;
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s ease;
  overflow-y: auto !important;
}

.Result-Text {
  font-size: 35px;
  font-weight: 500;
  margin-top: 50px;
}

.Reuslt-time {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #ffecec;
}

.Result-emotion {
  width: 55px;
  height: 30px;
  background-color: rgba(107, 107, 107, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.Result-Slider {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
  height: 250px !important;
  border-radius: 20px;
  position: relative;
}

.Result-Slider .slick-list,
.Result-Slider .slick-track,
.Result-Slider .slick-slide > div {
  height: 100%;
}

.Result-Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px !important;
  height: 250px; /* 슬라이드의 높이 조정 */
  background-color: #f1f1f1; /* 슬라이드 배경색 */
  border-radius: 20px;
  margin: 0 10px;
  overflow: visible !important;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.slick-dots {
  position: absolute;
  top: 260px; /* 위쪽으로 이동, 필요에 따라 값을 조정 */
  left: 50%; /* 중앙 정렬을 위해 설정 */
  transform: translateX(-50%); /* 중앙 정렬을 위해 설정 */
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 전체 스크롤바 영역 */
::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  height: 5px; /* 스크롤바 높이 (수평 스크롤바) */
}

/* 스크롤바의 트랙 영역 */
::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙의 배경색 */
  border-radius: 5px; /* 스크롤바 트랙의 모서리 둥글게 */
}

/* 스크롤바의 핸들 영역 */
::-webkit-scrollbar-thumb {
  background: #7a7a7a; /* 스크롤바 핸들의 배경색 */
  border-radius: 10px; /* 스크롤바 핸들의 모서리 둥글게 */
}

/* 핸들이 호버될 때 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 핸들이 호버될 때 색상 변경 */
}

.Result-img {
  width: 300px !important;
  height: 300px !important; /* !important 추가 */
  background-color: #c9c9c9;
  box-sizing: border-box; /* 패딩과 테두리 포함 */
  display: block; /* 또는 inline-block */
  flex: 0 0 auto;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Result-text {
  font-size: 15px;
  margin-top: 30px;
}
.Result-button {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  background: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  cursor: pointer;
}
.Result-button1 {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  background: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Result-Title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: -20px;
  color: rgb(0, 0, 0);
}
.Result-button2 {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  background: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Result-YouTubeContainer {
  text-align: center; /* 중앙 정렬 */
}

.YouTube-Content {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: -60px;
}
