.Recommand-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
  overflow-x: hidden;
  height: 470px;
  background-color: #82b8ff;
  width: 100%;
}

.Recommand-title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  padding-left: 0px;
  color: white;
  margin-top: 20px;
}
.Recommand {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
.RecommandCard-img1 {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.RecommandCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.RecommandCard-img {
  width: 300px;
  height: 350px;
  border-radius: 15px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.RecommandCard-name {
  font-size: 15px;
  width: 180px;
  margin: 0;
  margin-top: 7px;
}
.RecommandCard-slide {
  display: flex;
  flex-direction: row;
}
.Recommand-container {
  max-width: 330px; /* 또는 원하는 너비 */
}

.slick-list {
  height: 100% !important;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  margin-top: 15px;
  height: auto !important;
  margin-bottom: 0px;
}

.RecommandCard-price {
  margin: 0;
  margin-top: 10px;
}
.RecommandCard-rating {
  display: flex;
  gap: 2px;
}
.RecommandCard-sale {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: 0s;
}
