/* emotion.css */
.emotion-container {
  background-color: #222;
  color: #ffffff;
  padding: 20px;
  height: 844px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.emotion-date {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 30px;
}

.emotion-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.emotion-explain {
  color: #d6d6d6;
  font-size: 25px;
  font-weight: 600;
}

.emotion-icon {
  position: relative;
  width: 100px; /* 아이콘의 너비 */
  height: 100px; /* 아이콘의 높이 */
  border-radius: 30px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  margin-bottom: 50px;
}

.emotion-icon::after {
  content: attr(data-label); /* 감정 이름을 표시 */
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -25px; /* 이미지 아래에 텍스트 위치 조정 */
  font-size: 16px;
  font-weight: 600;
  color: #a9a9a9; /* 기본 텍스트 색상 */
  transition: color 0.3s ease;
  margin-bottom: -20px;
}

.emotion-icon.selected {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5); /* 선택된 상태에서 그림자 효과 */
}

.emotion-icon.selected::after {
  color: #ffeb3b; /* 선택된 상태에서 글씨 색상 변경 */
}

.happy {
  background-image: url('happy.png');
}

.excited {
  background-image: url('sad-removebg-preview.png');
}

.love {
  background-image: url('haooy.png');
}

.grateful {
  background-image: url('hurt-removebg-preview.png');
}

.relieved {
  background-image: url('angry.png');
}

.sad {
  background-image: url('um.png');
}

.emotion-next {
  background-color: #4caf50;
  padding: 10px 100px;
  border-radius: 10px;
  margin-top: 200px; /* 적절한 위치로 조정 */
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
}
