.calendar {
  background-color: #f3eee9;
  color: #272727;
  padding: 20px;
  height: 844px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 10px;
}

.month {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}

.menu-icon {
  color: #000000;
  font-size: 30px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 20px;
}

.day-of-week {
  font-size: 16px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  height: 100%;
}

.emotion-circle {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.date-number {
  font-size: 14px;
}

.day.selected {
  background-color: hsla(0, 0%, 83%, 0.4);
  color: #fff;
  border-radius: 5px;
}

.event-indicator {
  width: 4px;
  height: 4px;
  background-color: #00d9ff;
  border-radius: 50%;
  margin-bottom: 2px;
}
.info-box {
  background-color: #faf6eb;
  color: #000000;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;

  height: 200px;
}

.info-box h3 {
  margin-top: 0;
  color: #000000;
}
.button-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 25px;
  position: absolute;
  top: 750px;
  left: 4%;
}

.diary-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 20px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  font-weight: 600;
  font-family: Pretendard;
}
.add-button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.diary-button:hover,
.add-button:hover,
.background-button:hover {
  background-color: #888888;
}
.background-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 15px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  font-weight: 600;
  font-family: Pretendard;
}
.emotion-circle {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.emotion-circle img {
  width: 300%;
  height: 200%;
  object-fit: contain;
}
